@model WPFW_week14.Models.PaginatedList<WPFW_week14.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="d-flex flex-row justify-content-around">
    <form asp-action="Index" method="get">
        <label class="mr-2">Filter op:</label>
        <input type="hidden" name="sortType" value="@ViewData["SortType"]" />
        <input type="hidden" name="sortByOrder" value="@ViewData["SortByOrder"]" />
        <input type="text" name="filter" value="@ViewData["Filter"]" />
        <input type="submit" value="Zoeken" />
    </form>

    <div class="btn-group">
        <label class="mr-2">Sorteer op:</label>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Id
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" 
                   asp-route-sortType="Id" 
                   asp-route-sortByOrder="Ascending" 
                   asp-route-filter="@ViewData["Filter"]">
                    Ascending
                </a>
                <a class="dropdown-item" asp-action="Index" 
                   asp-route-sortType="Id" 
                   asp-route-sortByOrder="Descending" 
                   asp-route-filter="@ViewData["Filter"]">
                    Descending
                </a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Name
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index" 
                   asp-route-sortType="Name" 
                   asp-route-sortByOrder="Ascending" 
                   asp-route-filter="@ViewData["Filter"]">
                    Ascending</a>
                <a class="dropdown-item" asp-action="Index" 
                   asp-route-sortType="Name" 
                   asp-route-sortByOrder="Descending" 
                   asp-route-filter="@ViewData["Filter"]">
                    Descending
                </a>
            </div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Length
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" asp-action="Index"
                   asp-route-sortType="Length"
                   asp-route-sortByOrder="Ascending"
                   asp-route-filter="@ViewData["Filter"]">
                    Ascending
                </a>
                <a class="dropdown-item" asp-action="Index"
                   asp-route-sortType="Length"
                   asp-route-sortByOrder="Descending"
                   asp-route-filter="@ViewData["Filter"]">
                    Descending
                </a>
            </div>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Length</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Length)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<div class="d-flex flex-row justify-content-center mt-5">
    <a class="btn btn-primary @(Model.HasPreviousPage ? "" : "disabled")" asp-action="Index"
       asp-route-sortType="@ViewData["SortType"]"
       asp-route-sortByOrder="@ViewData["SortByOrder"]"
       asp-route-filter="@ViewData["Filter"]"
       asp-route-pageNumber="@((int)Model.PageIndex - 1)">
        Previous page
    </a>
    <a class="btn btn-primary ml-5 @(Model.HasNextPage ? "" : "disabled")" asp-action="Index"
       asp-route-sortType="@ViewData["SortType"]"
       asp-route-sortByOrder="@ViewData["SortByOrder"]"
       asp-route-filter="@ViewData["Filter"]"
       asp-route-pageNumber="@((int)Model.PageIndex + 1)">
        Next page
    </a>
</div>